.mypy_cache
.env
.venv
__pycache__
__pycache__/
/__pycache__/
.DS_STORE
*.pyc
*.pyo
*.pyd
*.pyz
*.pyw

client-langgraph/
.env.development
.env.local
.env.development.local
.env.test.local
.env.production

node_modules
old_chatbot
test

